
mixin c-slideImageAndText01
	.c-slideImageAndText01
		.componentWrapper
			.group.is-contents
				+l-colSet01({tag:"ul", className:"is-two"})
					li.js-slideImageAndText01
						.block.is-contents
							.area.is-image
								.box.is-slideImage(style= "background-image:url(https://placeimg.com/150/300/animals)" )
								.box.is-slideImage(style= "background-image:url(https://placeimg.com/150/300/animals)" )
								.box.is-slideImage(style= "background-image:url(https://placeimg.com/150/300/animals)" )
								.box.is-slideImage(style= "background-image:url(https://placeimg.com/150/300/animals)" )
							.area.is-text
								.box.is-text
									+m-borderLeftTitle01({tag:"div", title:"タイトル01"})
									p テキストテキストテキストテキストテキストテキスト
								.box.is-text
									+m-borderLeftTitle01({tag:"div", title:"タイトル02"})
									p テキストテキストテキストテキストテキストテキスト
								.box.is-text
									+m-borderLeftTitle01({tag:"div", title:"タイトル03"})
									p テキストテキストテキストテキストテキストテキスト
								.box.is-text
									+m-borderLeftTitle01({tag:"div", title:"タイトル04"})
									p テキストテキストテキストテキストテキストテキスト

					li.js-slideImageAndText01
						.block.is-contents
							.area.is-image
								.box.is-slideImage(style= "background-image:url(https://placeimg.com/150/300/animals)" )
								.box.is-slideImage(style= "background-image:url(https://placeimg.com/150/300/animals)" )
								.box.is-slideImage(style= "background-image:url(https://placeimg.com/150/300/animals)" )
								.box.is-slideImage(style= "background-image:url(https://placeimg.com/150/300/animals)" )
							.area.is-text
								.box.is-text
									+m-borderLeftTitle01({tag:"div", title:"タイトル01"})
									p テキストテキストテキストテキストテキストテキスト
								.box.is-text
									+m-borderLeftTitle01({tag:"div", title:"タイトル02"})
									p テキストテキストテキストテキストテキストテキスト
								.box.is-text
									+m-borderLeftTitle01({tag:"div", title:"タイトル03"})
									p テキストテキストテキストテキストテキストテキスト
								.box.is-text
									+m-borderLeftTitle01({tag:"div", title:"タイトル04"})
									p テキストテキストテキストテキストテキストテキスト
					
					li.js-slideImageAndText01
						.block.is-contents
							.area.is-image
								.box.is-slideImage(style= "background-image:url(https://placeimg.com/150/300/animals)" )
								.box.is-slideImage(style= "background-image:url(https://placeimg.com/150/300/animals)" )
								.box.is-slideImage(style= "background-image:url(https://placeimg.com/150/300/animals)" )
								.box.is-slideImage(style= "background-image:url(https://placeimg.com/150/300/animals)" )
							.area.is-text
								.box.is-text
									+m-borderLeftTitle01({tag:"div", title:"タイトル01"})
									p テキストテキストテキストテキストテキストテキスト
								.box.is-text
									+m-borderLeftTitle01({tag:"div", title:"タイトル02"})
									p テキストテキストテキストテキストテキストテキスト
								.box.is-text
									+m-borderLeftTitle01({tag:"div", title:"タイトル03"})
									p テキストテキストテキストテキストテキストテキスト
								.box.is-text
									+m-borderLeftTitle01({tag:"div", title:"タイトル04"})
									p テキストテキストテキストテキストテキストテキスト