//- extends /assets/_include/_template/_t_crossbenchHome_template01

//- block vars
//- 	-
//- 		var pageOption = {
//- 			KEY: "about",
//- 			URL: '',
//- 			RELATIVE_PATH: '../',
//- 			TITLE: '',
//- 			DESCRIPTION: '',
//- 			KEYWORDS: '',
//- 			SIDE: [false, "left" ],
//- 			HEADER: false,
//- 			FOOTER: true,
//- 			TOP_CONTENTS: false,
//- 			BOTTOM_CONTENTS: false,
//- 		}

//- //- ヘッダー
//- block header


//- //- コンテンツ　
//- block contents
//- 	.l-aboutContentsSet01 
//- 		section.c-aboutMainvisualSet01 
//- 			.componentWrapper
//- 				.block.is-title 
//- 					h2.title 
//- 						img(src=pageOption.RELATIVE_PATH+"assets/images/contents/about/about_mainvisual_img01.png", alt="CROSS CONNECT CREATIVE 人と人をつなげるクリエイティブ")
//- 				.block.is-text
//- 					.area.is-text 
//- 						p.text 私たちはお客様の要望から伝えたい情報をヒアリングし、より多くの方に伝わるようにお手伝いさせていただきます。
//- 							br
//- 							br
//- 							| ただ造り手として創るだけでなく、私達自身がお客になれるように人から人へ
//- 							br
//- 							| 多彩なソリューションを提供をすることがクロスベンチの ミッションです。
//- 							br
//- 							br
//- 							| 滋賀県、京都府、大阪府高槻市のホームページ制作は直接お話をさせていただきご提案させていただきます。
//- 				.block.is-t-rex 
//- 					img(src=pageOption.RELATIVE_PATH+"assets/images/contents/about/about_mainvisual_img03.gif", alt="爆速T-レックス")
				
//- 				.block.is-boy 
//- 					img(src=pageOption.RELATIVE_PATH+"assets/images/contents/about/about_mainvisual_img02.png", alt="遅刻遅刻〜〜")
				
//- 				.block.is-strike 
//- 					img(src=pageOption.RELATIVE_PATH+"assets/images/contents/about/about_mainvisual_img04.png", alt="アクシデント")

//- //- フッター
//- block footer
//- 	.c-footer
//- 		.componentWrapper
//- 			.block.is-start
//- 				p.btn スタート


