
.m-borderBottomTitle01
	margin-bottom 30px
	padding-bottom 10px
	border-bottom 2px solid #ccc

	span
		font-weight bold
		line-height 1.0

	&.is-center
		text-align center

	&:last-child
		margin-bottom 0
