extends /assets/_include/_template/_t_portfolio_template01.pug


block vars
	-
		var pageOption = {
			KEY: "home",
			URL: '',
			RELATIVE_PATH: '',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			SIDE: [false, "left"],
			HEADER: true,
			FOOTER: false,
			TOP_CONTENTS: false,
			BOTTOM_CONTENTS: false,
		}


//- ヘッダー
block header
	+c-globalHeader01
		
//- コンテンツ　
block contents
	section.c-topListSet01
		+l-mqWrapper({tag:"div"})
			.componentWrapper
				.block.is-list
					+l-contentsWidth({tag:"div"})
						ul
							li
								a(href="work/crossbench_corporate01.html")
									span
										img(src= pageOption.RELATIVE_PATH + "assets/images/contents/top_list_crossbench_corporate01.png", alt="")
									span cross bench 公式サイト
							
							li
								a(href="work/withglico01.html")
									span
										img(src="assets/images/contents/top_list_withglico01.png", alt="")
									span with Glico Webサイト
							li
								a(href="work/zeit01.html")
									span
										img(src= pageOption.RELATIVE_PATH + "assets/images/contents/top_list_zeit01.png", alt="")
									span 業務効率化システムzeit webサイト
							li
								a(href="work/rivre_wind01.html")
									span
										img(src= pageOption.RELATIVE_PATH + "assets/images/contents/top_list_rivre_wind01.png", alt="")
									span RIVRE WIND SURFING Webサイト
							li
								a(href="work/cittaapp01.html")
									span
										img(src="assets/images/contents/top_list_cittaapp01.png", alt="")
									span citta 手帳アプリ
							li
								a(href="work/hieisan_basara_lp01.html")
									span
										img(src="assets/images/contents/top_list_hieisan_basara_lp01.png", alt="")
									span 比叡山×戦国ＢＡＳＡＲＡコラボレーションデジタルスタンプラリー
							li
								a(href="work/konnnatokoroni_kyouwa01.html")
									span
										img(src="assets/images/contents/top_list_konnnatokoroni_kyouwa01.png", alt="")
									span こんなところに共和産業 Webサイト
							
							
							
							li
								a(href="work/illbe01.html")
									span
										img(src= pageOption.RELATIVE_PATH + "assets/images/contents/top_list_illbe01.png", alt="")
									span iLLBE高槻 公式サイト
							
							li
								a(href="work/kokujyo01.html")
									span
										img(src= pageOption.RELATIVE_PATH + "assets/images/contents/top_list_kokujyo01.png", alt="")
									span 滋賀県立国際情報高等学校 同窓会サイト
							li
								a(href="work/innocent01.html")
									span
										img(src= pageOption.RELATIVE_PATH + "assets/images/contents/top_list_innocent01.png", alt="")
									span 結婚相談所「イノセント」 Webサイト
							li
								a(href="work/solairo01.html")
									span
										img(src= pageOption.RELATIVE_PATH + "assets/images/contents/top_list_solairo01.png", alt="")
									span マツオカそらいろクリニック Webサイト
							li
								a(href="work/cittacafe01.html")
									span
										img(src= pageOption.RELATIVE_PATH + "assets/images/contents/top_list_cittacafe01.png", alt="")
									span citta cafe Webサイト
							li
								a(href="work/kintan01.html")
									span
										img(src="assets/images/contents/top_list_kintan01.png", alt="")
									span KINTANオフィシャルサイト
							li
								a(href="work/tsumiki_ui01.html")
									span
										img(src="assets/images/contents/top_list_tsumiki_ui01.png", alt="")
									span TSUMIKI UI DESIGN Webサイト
							li
								a(href="work/izuyone01.html")
									span
										img(src="assets/images/contents/top_list_izuyone01.png", alt="")
									span 株式会社いづよねWebサイト
							li
								a(href="work/seika01.html")
									span
										img(src="assets/images/contents/top_list_seika01.png", alt="")
									span 京都精華大学 Webサイト
							li
								a(href="work/nikken01.html")
									span
										img(src="assets/images/contents/top_list_nikken01.png", alt="")
									span 日建設計 Webサイト
							li
								a(href="work/kobeaddress01.html")
									span
										img(src="assets/images/contents/top_list_kobeaddress01.png", alt="")
									span KOBE address Webサイト
							li
								a(href="work/dawn01.html")
									span
										img(src="assets/images/contents/top_list_dawn01.png", alt="")
									span 株式会社ドーン Webサイト
							li
								a(href="work/dawn_recruit01.html")
									span
										img(src="assets/images/contents/top_list_dawn_recruit01.png", alt="")
									span 株式会社ドーン 採用サイト
							li
								a(href="work/sysmex_brand01.html")
									span
										img(src="assets/images/contents/top_list_sysmex_brand01.png", alt="")
									span Sysmex ブランドコンセプトページ

							li
								a(href="work/amanokuni01.html")
									span
										img(src="assets/images/contents/top_list_amanokuni01.png", alt="")
									span 尼ノ國 Webサイト
							li
								a(href="work/amagasakidaigaku01.html")
									span
										img(src="assets/images/contents/top_list_amagasakidaigaku01.png", alt="")
									span みんなの尼崎大学 Webサイト
							li
								a(href="work/rivre01.html")
									span
										img(src="assets/images/contents/top_list_rivre01.png", alt="")
									span RIVRE 公式サイト
							li
								a(href="work/rivre_bass01.html")
									span
										img(src="assets/images/contents/top_list_rivre_bass01.png", alt="")
									span RIVRE 「BASS CLUB」Webサイト
							li
								a(href="work/rivre_sailing01.html")
									span
										img(src="assets/images/contents/top_list_rivre_sailing01.png", alt="")
									span RIVRE 「Sailing CLUB」Webサイト
							li
								a(href="work/rivre_product01.html")
									span
										img(src="assets/images/contents/top_list_rivre_product01.png", alt="")
									span RIVRE プロダクト
							li
								a(href="work/sanwa_seisakujyo01.html")
									span
										img(src="assets/images/contents/top_list_sanwa_seisakujyo01.png", alt="")
									span 三和製作所 Webサイト
							li
								a(href="work/nexco_engineer_kansai01.html")
									span
										img(src="assets/images/contents/top_list_nexco_engineer_kansai01.png", alt="")
									span NEXCO西日本エンジニアリング関西 Webサイト
							li
								a(href="work/sysmex_50.html")
									span
										img(src="assets/images/contents/top_list_sysmex_50.png", alt="")
									span シスメックス50年のあゆみ Webサイト
							li
								a(href="work/sysmex01.html")
									span
										img(src="assets/images/contents/top_list_sysmex01.png", alt="")
									span Sysmex Webサイト
							li
								a(href="work/kencos01.html")
									span
										img(src="assets/images/contents/top_list_kencos01.png", alt="")
									span ポータブル水素ガス吸引具 KENCOS
							li
								a(href="work/chugokudenryoku_biz01.html")
									span
										img(src="assets/images/contents/top_list_chugokudenryoku_biz01.png", alt="")
									span 中国電力 法人向けWEBサイト
							li
								a(href="work/buch_gacha01.html")
									span
										img(src="assets/images/contents/top_list_buch_gacha01.png", alt="")
									span ブッチde ガチャガチャキャンペーン
							li
								a(href="work/almond_kouka01.html")
									span
										img(src="assets/images/contents/top_almond_kouka01.png", alt="")
									span アーモンド効果 ブランドサイト
							li
								a(href="work/donq_recruit01.html")
									span
										img(src="assets/images/contents/top_list_donq_recruit01.png", alt="")
									span ドンク - DONQ - 採用サイト
							li
								a(href="work/iseya_fitting01.html")
									span
										img(src="assets/images/contents/top_list_iseya_fitting01.png", alt="")
									span いせや写真館 ヴァーチャルフィッティング
							li
								a(href="work/kasha01.html")
									span
										img(src="assets/images/contents/top_list_kasha01.png", alt="")
									span KASHA
							li
								a(href="work/synca01.html")
									span
										img(src="assets/images/contents/top_list_synca01.png", alt="")
									span SYNCA（シンカ）公式サイト
							li
								a(href="work/rikkyo_ikebukuro01.html")
									span
										img(src="assets/images/contents/top_list_rikkyo_ikebukuro01.png", alt="")
									span 立教池袋中学校・高等学校 Webサイト
							li
								a(href="work/rikkyo_niza01.html")
									span
										img(src="assets/images/contents/top_list_rikkyo_niza01.png", alt="")
									span 立教新座中学校・高等学校 Webサイト
							li
								a(href="work/kyotojoshi01.html")
									span
										img(src="assets/images/contents/top_list_kyotojoshi01.png", alt="")
									span 京都女子大学
							li
								a(href="work/kyojoclub01.html")
									span
										img(src="assets/images/contents/top_list_kyojoclub01.png", alt="")
									span 京女倶楽部
							li
								a(href="work/sawaiseiyaku01.html")
									span
										img(src="assets/images/contents/top_list_sawaiseiyaku01.png", alt="")
									span 沢井製薬 医療関係者向けサイト
							li
								a(href="work/capcom_recruit01.html")
									span
										img(src="assets/images/contents/top_list_capcom_recruit01.png", alt="")
									span CAPCOM 採用サイト
							li
								a(href="work/kogakuin01.html")
									span
										img(src="assets/images/contents/top_list_kogakuin01.png", alt="")
									span 工学院大学附属中学校・高等学校
							li
								a(href="work/kishiyuuya01.html")
									span
										img(src="assets/images/contents/top_list_kishiyuuya01.png", alt="")
									span 岸裕也税理士事務所Webサイト
							li
								a(href="work/rikkyo01.html")
									span
										img(src="assets/images/contents/top_list_rikkyo01.png", alt="")
									span 立教大学オフィシャルWebサイト
							li
								a(href="work/kinki_chihou_seibi01.html")
									span
										img(src="assets/images/contents/top_list_kinki_chihou_seibi01.png", alt="")
									span 国土交通省近畿地方整備局 Webサイト
							li
								a(href="work/taketalk01.html")
									span
										img(src="assets/images/contents/top_list_taketalk01.png", alt="")
									span 小学生・中学生向け 英語スクール TAKETALK
							li
								a(href="work/synca_massage_gun01.html")
									span
										img(src="assets/images/contents/top_list_synca_massage_gun01.png", alt="")
									span SYNCA マッサージガン
							li
								a(href="work/synca_neck_massager01.html")
									span
										img(src="assets/images/contents/top_list_synca_neck_massager01.png", alt="")
									span SYNCA ネックマッサージャー
							li
								a(href="work/synca_rocking_chair01.html")
									span
										img(src="assets/images/contents/top_list_synca_rocking_chair01.png", alt="")
									span SYNCA リラックスロッキングチェア
							li
								a(href="work/synca_foot_massager01.html")
									span
										img(src="assets/images/contents/top_list_synca_foot_massager01.png", alt="")
									span SYNCA フットマッサージャー
							li
								a(href="work/synca_massage_chair01.html")
									span
										img(src="assets/images/contents/top_list_synca_massage_chair01.png", alt="")
									span SYNCA マッサージチェア
							li
								a(href="work/synca_eyemask01.html")
									span
										img(src="assets/images/contents/top_list_synca_eyemask01.png", alt="")
									span SYNCA ウォーターアイマスク
							li
								a(href="work/awrd01.html")
									span
										img(src="assets/images/contents/top_list_awrd01.png", alt="")
									span AWRD Webサイト
							li
								a(href="work/tsutaya_discas01.html")
									span
										img(src="assets/images/contents/top_list_tsutaya_discas01.png", alt="")
									span TSUTAYA DISCAS Webサイト
							li
								a(href="work/mcdonald01.html")
									span
										img(src="assets/images/contents/top_list_mcdonald01.png", alt="")
									span 日本マクドナルド公式サイト
							li
								a(href="work/polytech01.html")
									span
										img(src="assets/images/contents/top_list_polytech01.png", alt="")
									span POLYTECHS
							li
								a(href="work/shimatec01.html")
									span
										img(src="assets/images/contents/top_list_shimatec01.png", alt="")
									span SHIMATECH
							li
								a(href="work/hyoukomi01.html")
									span
										img(src="assets/images/contents/top_list_hyoukomi01.png", alt="")
									span YMCA 表現・コミュニケーション学科
							li
								a(href="work/cafeore_lp01.html")
									span
										img(src="assets/images/contents/top_list_cafeore_lp01.png", alt="")
									span ミス・カフェオーレキャンペーンサイト
							li
								a(href="work/iwatani_rikujyou01.html")
									span
										img(src="assets/images/contents/top_list_iwatani_rikujyou01.png", alt="")
									span 岩谷産業陸上競技部
							li
								a(href="work/vegeteria01.html")
									span
										img(src="assets/images/contents/top_list_vegeteria01.png", alt="")
									span ベジテリア ブランドサイト	
							li
								a(href="work/heart01.html")
									span
										img(src="assets/images/contents/top_list_heart01.png", alt="")
									span 株式会社ハート Webサイト
							li
								a(href="work/shinmei01.html")
									span
										img(src="assets/images/contents/top_list_shinmei01.png", alt="")
									span 株式会社神明 Webサイト
							li
								a(href="work/miyoshi01.html")
									span
										img(src="assets/images/contents/top_list_miyoshi01.png", alt="")
									span 株式会社ミヨシ
							li
								a(href="work/icoca_lp01.html")
									span
										img(src="assets/images/contents/top_list_icoca01.png", alt="")
									span ICOCA10周年記念LP
							li
								a(href="work/mineo_campaign01.html")
									span
										img(src="assets/images/contents/top_list_mineo_campaign01.png", alt="")
									span mineo キャンペーンサイト
							li
								a(href="work/sutekihanayome01.html")
									span
										img(src="assets/images/contents/top_list_sutekihanayome01.png", alt="")
									span ステキ！花嫁プロジェクト
							li
								a(href="work/amisports01.html")
									span
										img(src="assets/images/contents/top_list_amisports01.png", alt="")
									span amisports
							
							li
								a(href="work/sumigaki01.html")
									span
										img(src="assets/images/contents/top_list_sumigaki01.png", alt="")
									span 美白スミガキ
							li
								a(href="work/nagoyasyouboutenken01.html")
									span
										img(src="assets/images/contents/top_list_nagoyasyouboutenken01.png", alt="")
									span 名古屋消防点検.com
							li
								a(href="work/cloudtip01.html")
									span
										img(src="assets/images/contents/top_list_cloudtip01.png", alt="")
									span CloudTip
							li
								a(href="work/e-ie_matsuiyamate01.html")
									span
										img(src="assets/images/contents/top_list_e-ie_matsuiyamate01.png", alt="")
									span マザーヒルズ 松井山手
							li
								a(href="work/e-ie_search01.html")
									span
										img(src="assets/images/contents/top_list_e-ie_search01.png", alt="")
									span 株式会社富士住研 間取りプラン検索
							li
								a(href="work/e-ie_01.html")
									span
										img(src="assets/images/contents/top_list_e-ie_01.png", alt="")
									span 株式会社富士住研
							li
								a(href="work/culuturetown01.html")
									span
										img(src="assets/images/contents/top_list_culuturetown01.png", alt="")
									span 三田カルチャータウン学園 8丁目
							li
								a(href="work/ester_kamikoutoen02_01.html")
									span
										img(src="assets/images/contents/top_list_ester_kamikoutoen02_01.png", alt="")
									span アベニュー上甲東園Ⅱ
							li
								a(href="work/ester_shinkobehigashi01.html")
									span
										img(src="assets/images/contents/top_list_ester_shinkobehigashi01.png", alt="")
									span アベニュー新神戸東 〜花水木の街〜
							li
								a(href="work/ester_rokkoyamate01.html")
									span
										img(src="assets/images/contents/top_list_ester_rokkoyamate01.png", alt="")
									span アベニュー六甲山手
							li
								a(href="work/ester_nigawatakamaru_01_03_01.html")
									span
										img(src="assets/images/contents/top_list_ester_nigawatakamaru_01_03_01.png", alt="")
									span アベニュー仁川高丸1丁目Ⅲ
							li
								a(href="work/ester_sakasegawa_nogami01.html")
									span
										img(src="assets/images/contents/top_list_ester_sakasegawa_nogami01.png", alt="")
									span アベニュー逆瀬川・野上
							li
								a(href="work/ester_nishinomiyakitaguchi_04_01.html")
									span
										img(src="assets/images/contents/top_list_ester_nishinomiyakitaguchi_04_01.png", alt="")
									span アベニュー西宮北口Ⅳ
							li
								a(href="work/ester_takaradukaminami01.html")
									span
										img(src="assets/images/contents/top_list_ester_takaradukaminami01.png", alt="")
									span アベニュー宝塚南口
							li
								a(href="work/ester_yamamotodouri01.html")
									span
										img(src="assets/images/contents/top_list_ester_yamamotodouri01.png", alt="")
									span アベニュー山本通り 〜花水木の街〜
							li
								a(href="work/ester_kouyouen04_01.html")
									span
										img(src="assets/images/contents/top_list_ester_kouyouen04_01.png", alt="")
									span アベニュー甲陽園Ⅳ
							li
								a(href="work/ester_sakasegawa01.html")
									span
										img(src="assets/images/contents/top_list_ester_sakasegawa01.png", alt="")
									span アベニュー逆瀬川　〜花水木の街
							li
								a(href="work/ester_kobe_nishiyama01.html")
									span
										img(src="assets/images/contents/top_list_ester_kobe_nishiyama01.png", alt="")
									span アベニュー神戸西山
							li
								a(href="work/ester_nigawacho06_05_01.html")
									span
										img(src="assets/images/contents/top_list_ester_nigawacho06_05_01.png", alt="")
									span アベニュー仁川町6丁目Ⅴ
							li
								a(href="work/ester_nigawacho06_04_01.html")
									span
										img(src="assets/images/contents/top_list_ester_nigawacho06_04_01.png", alt="")
									span アベニュー仁川町6丁目Ⅳ
							li
								a(href="work/ester_shinkouyoucho_01.html")
									span
										img(src="assets/images/contents/top_list_ester_shinkouyoucho_01.png", alt="")
									span アベニュー新甲陽町
							li
								a(href="work/ester_ashiyaasahigaoka01.html")
									span
										img(src="assets/images/contents/top_list_ester_ashiyaasahigaoka01.png", alt="")
									span アベニュー芦屋朝日ヶ丘
							li
								a(href="work/ester01.html")
									span
										img(src="assets/images/contents/top_list_ester01.png", alt="")
									span 株式会社エスター
							li
								a(href="work/alcott01.html")
									span
										img(src="assets/images/contents/top_list_alcott01.png", alt="")
									span alcott オフィシャルサイト
							li
								a(href="work/guruguru_panorama01.html")
									span
										img(src="assets/images/contents/top_list_guruguru_panorama01.png", alt="")
									span ぐるぐるパノラマ神戸
							li
								a(href="work/taiyo01.html")
									span
										img(src="assets/images/contents/top_list_taiyo01.png", alt="")
									span 株式会社太陽
							li
								a(href="work/sekorogi01.html")
									span
										img(src="assets/images/contents/top_list_sekorogi01.png", alt="")
									span セコロジーアパート
							li
								a(href="work/fruits_app01.html")
									span
										img(src="assets/images/contents/top_list_fruits_app01.png", alt="")
									span フルーツショット & バウンス
							li
								a(href="work/limlim01.html")
									span
										img(src="assets/images/contents/top_list_limlim01.png", alt="")
									span LimLim
							li
								a(href="work/momoyama01.html")
									span
										img(src="assets/images/contents/top_list_momoyama01.png", alt="")
									span 桃山学院大学
							li
								a(href="work/up01.html")
									span
										img(src="assets/images/contents/top_list_up01.png", alt="")
									span 株式会社アップ
							li
								a(href="work/otemaetanki01.html")
									span
										img(src="assets/images/contents/top_list_otemaetanki01.png", alt="")
									span 大手前短期大学
							li
								a(href="work/dramachickhyogo01.html")
									span
										img(src="assets/images/contents/top_list_dramachickhyogo01.png", alt="")
									span 物語ちっく兵庫
							li
								a(href="work/sekisui_yurinoki01.html")
									span
										img(src="assets/images/contents/top_list_sekisui_yurinoki01.png", alt="")
									span 積水ハウス ゆりのき台
							li
								a(href="work/cleverlyhome01.html")
									span
										img(src="assets/images/contents/top_list_cleverlyhome01.png", alt="")
									span クレバリーホーム
							li
								a(href="work/schloder01.html")
									span
										img(src="assets/images/contents/top_list_schloder01.png", alt="")
									span SCHLODER オフィシャルサイト
							
							


							
							
							//- li
							//- 	a(href="work/actage01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_actage01.png", alt="")
							//- 		span アクテージ
							
							
							//- li
							//- 	a(href="work/fujihashi_recruit01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_fujihashi_recruit01.png", alt="")
							//- 		span 藤橋商店 採用サイト
							//- li
							//- 	a(href="work/satelab01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_satelab01.png", alt="")
							//- 		span SATE LAB
							//- li
							//- 	a(href="work/kobenariwau01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_kobenariwau01.png", alt="")
							//- 		span 神戸でなりわうPROJECT
							//- li
							//- 	a(href="work/nisshinkagaku01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_nisshinkagaku01.png", alt="")
							//- 		span 日進科学工業株式会社
							//- li
							//- 	a(href="work/zeneraru_recruit01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_zeneraru_recruit01.png", alt="")
							//- 		span 株式会社ゼネラルパートナーズ 採用サイト
							//- li
							//- 	a(href="work/maruho_epiduo01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_maruho_epiduo01.png", alt="")
							//- 		span maruho エピデュオ / ディフェリン

							//- li
							//- 	a(href="work/jwestlp01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_jwestlp01.png", alt="")
							//- 		span J-WESTカード ランディングページ
							//- li
							//- 	a(href="work/mineo_app01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_mineo_app01.png", alt="")
							//- 		span mineo アプリ
							//- li
							//- 	a(href="work/shineihousing01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_shineihousing01.png", alt="")
							//- 		span 新栄ハウジング
							//- li
							//- 	a(href="work/muraoka01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_muraoka01.png", alt="")
							//- 		span 村岡功Webサイト
							//- li
							//- 	a(href="work/aoe01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_aoe01.png", alt="")
							//- 		span 株式会社アオエ
							//- li
							//- 	a(href="work/sponichi_lp01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_sponichi_lp01.png", alt="")
							//- 		span スポニチ特別企画 キャンペーンページ
							//- li
							//- 	a(href="work/yusei_sunshine01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_yusei_sunshine01.png", alt="")
							//- 		span ユーセイ サンシャイン フォレスト
							//- li
							//- 	a(href="work/fujitsu_tb01.html")
							//- 		span
							//- 			img(src="assets/images/contents/top_list_fujitsu_tb01.png", alt="")
							//- 		span 富士通業務用アプリ

							
							//- li
							//- 	a(href="")
							//- 		span
							//- 			img(src="assets/images/contents/", alt="")
							
					

