
extends /assets/_include/_template/_t_portfolio_template01.pug

block vars
	-
		var pageOption = {
			KEY: "works",
			URL: '',
			RELATIVE_PATH: '../',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			SIDE: [false, "left"],
			HEADER: true,
			FOOTER: false,
			TOP_CONTENTS: false,
			BOTTOM_CONTENTS: false,
		}


//- ヘッダー
block header
	+c-globalHeader01
		
//- コンテンツ　
block contents
	section.c-workDetailSet01
		.componentWrapper
			.block.is-mainvisual(style="background-image: url('../assets/images/contents/amagasakidaigaku01_mainvisual_bg01.png')")
				+l-mqWrapper({tag:"div"})
					+l-contentsWidth({tag:"div"})
						.area.is-mainvisual03
							.m-workDetailSet01_mainvisual01
								.moduleWrapper
									span
										//- img(src="https://placehold.jp/1200x660.png", alt="")
										video(loop="" muted autoplay="" playsinline="" src= pageOption.RELATIVE_PATH + "assets/movie/amagasakidaigaku01_mainvisual01.mp4") 
										//- img(src= pageOption.RELATIVE_PATH + "assets/images/contents/crossbench_corporate01_mainvisual01.gif", alt="")
							



			.block.is-contents
				.area.is-title
					+l-mqWrapper({tag:"div"})
						+l-contentsWidth({tag:"div"})
							p.date
								span 2016
							
							h2.title
								span みんなの尼崎大学 Webサイト
							
							p.text 「みんなが先生、みんなが生徒、どこでも教室」をスクールモットーに、尼崎の「学びの場」や学んでいる人や活動が連携する、みんなの尼崎大学 のWebサイトを制作しました。デザイン、コーディングを担当させていただきました。

							h3.subTitle
								span 担当業務
							
							p.list Webデザイン（担当:全体） / HTML ・ CSS コーディング(担当:全体) /  JavaScript（アニメーション）

							p.link
								a(href="https://www.amanokuni.jp/ucma/" target="_blank")
									span みんなの尼崎大学 | 尼ノ國（尼崎市）
			



	section.c-workDesignSet01
		.componentWrapper
			.block.is-list
				+l-mqWrapper({tag:"div"})
					+l-contentsWidth({tag:"div"})
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/amagasakidaigaku01_design01.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/amagasakidaigaku01_design02.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/amagasakidaigaku01_design03.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/amagasakidaigaku01_design04.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/amagasakidaigaku01_design05.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/amagasakidaigaku01_design06.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/amagasakidaigaku01_design07.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/amagasakidaigaku01_design08.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/amagasakidaigaku01_design09.png", alt="")
							
									