
extends /assets/_include/_template/_t_portfolio_template01.pug

block vars
	-
		var pageOption = {
			KEY: "works",
			URL: '',
			RELATIVE_PATH: '../',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			SIDE: [false, "left"],
			HEADER: true,
			FOOTER: false,
			TOP_CONTENTS: false,
			BOTTOM_CONTENTS: false,
		}


//- ヘッダー
block header
	+c-globalHeader01
		
//- コンテンツ　
block contents
	section.c-workDetailSet01
		.componentWrapper
			.block.is-mainvisual(style="background-image: url('../assets/images/contents/kinki_chihou_seibi01_mainvisual_bg01.png')")
				+l-mqWrapper({tag:"div"})
					+l-contentsWidth({tag:"div"})
						.area.is-mainvisual03
							.m-workDetailSet01_mainvisual01
								.moduleWrapper
									span
										//- img(src="https://placehold.jp/1200x660.png", alt="")
										img(src= pageOption.RELATIVE_PATH + "assets/images/contents/kinki_chihou_seibi01_mainvisual01.png", alt="")


			.block.is-contents
				.area.is-title
					+l-mqWrapper({tag:"div"})
						+l-contentsWidth({tag:"div"})
							p.date
								span 2018
							
							h2.title
								span 国土交通省近畿地方整備局 Webサイト
							
							p.text 国土交通省の地方支分部局である近畿地方整備局（きんきちほうせいびきょく）のWebサイトを制作しました。TOPページや下層のテンプレートデザイン、コーディングを担当させていただきました。

							h3.subTitle
								span 担当業務
							
							p.list Webデザイン(TOP・下層共通ページ). /  HTML ・ CSS (TOP・下層ベース) 

							p.link
								a(href="https://www.kkr.mlit.go.jp/" target="_blank")
									span 国土交通省近畿地方整備局
			


	section.c-workDesignSet01
		.componentWrapper
			.block.is-list
				+l-mqWrapper({tag:"div"})
					+l-contentsWidth({tag:"div"})
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/kinki_chihou_seibi01_design01.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/kinki_chihou_seibi01_design02.png", alt="")
						