
extends /assets/_include/_template/_t_portfolio_template01.pug

block vars
	-
		var pageOption = {
			KEY: "works",
			URL: '',
			RELATIVE_PATH: '../',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			SIDE: [false, "left"],
			HEADER: true,
			FOOTER: false,
			TOP_CONTENTS: false,
			BOTTOM_CONTENTS: false,
		}


//- ヘッダー
block header
	+c-globalHeader01
		
//- コンテンツ　
block contents
	section.c-workDetailSet01
		.componentWrapper
			.block.is-mainvisual(style="background-image: url('../assets/images/contents/sanwa_seisakujyo01_mainvisual_bg01.png')")
				+l-mqWrapper({tag:"div"})
					+l-contentsWidth({tag:"div"})
						.area.is-mainvisual03
							.m-workDetailSet01_mainvisual01
								.moduleWrapper
									span
										//- img(src="https://placehold.jp/1200x660.png", alt="")
										video(loop="" muted autoplay="" playsinline="" src= pageOption.RELATIVE_PATH + "assets/movie/sanwa_seisakujyo01_maivnisual01.mp4") 
										//- img(src= pageOption.RELATIVE_PATH + "assets/images/contents/crossbench_corporate01_mainvisual01.gif", alt="")
							


			.block.is-contents
				.area.is-title
					+l-mqWrapper({tag:"div"})
						+l-contentsWidth({tag:"div"})
							p.date
								span 2016
							
							h2.title
								span 三和製作所 Webサイト
							
							p.text 複雑な形状の精密金属加工、制御・駆動機器部品加工など、品質・納期・加工の、三和製作所のWebサイトを制作しました。デザイン、コーディング、 JavaScriptプログラミングを担当させていただきました。

							h3.subTitle
								span 担当業務
							
							p.list Webデザイン(全体) / HTML ・ CSS コーディング（全体）

							p.link
								a(href="http://www.sanwa-q.co.jp/" target="_blank")
									span 三和製作所（SANWA）：精密金属加工
			



	section.c-workDesignSet01
		.componentWrapper
			.block.is-list
				+l-mqWrapper({tag:"div"})
					+l-contentsWidth({tag:"div"})
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design01.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design02.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design03.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design04.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design05.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design06.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design07.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design08.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design09.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design10.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design11.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design12.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design13.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design14.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design15.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design16.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design17.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design18.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design19.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sanwa_seisakujyo01_design20.png", alt="")
									