
extends /assets/_include/_template/_t_portfolio_template01.pug

block vars
	-
		var pageOption = {
			KEY: "works",
			URL: '',
			RELATIVE_PATH: '../',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			SIDE: [false, "left"],
			HEADER: true,
			FOOTER: false,
			TOP_CONTENTS: false,
			BOTTOM_CONTENTS: false,
		}


//- ヘッダー
block header
	+c-globalHeader01
		
//- コンテンツ　
block contents
	section.c-workDetailSet01
		.componentWrapper
			.block.is-mainvisual(style="background-image: url('../assets/images/contents/sysmex_50_mainvisual_bg01.png')")
				+l-mqWrapper({tag:"div"})
					+l-contentsWidth({tag:"div"})
						.area.is-mainvisual03
							.m-workDetailSet01_mainvisual01
								.moduleWrapper
									span
										//- img(src="https://placehold.jp/1200x660.png", alt="")
										video(loop="" muted autoplay="" playsinline="" src= pageOption.RELATIVE_PATH + "assets/movie/sysmex_50_mainvisual01.mp4") 
										//- img(src= pageOption.RELATIVE_PATH + "assets/images/contents/crossbench_corporate01_mainvisual01.gif", alt="")
							


			.block.is-contents
				.area.is-title
					+l-mqWrapper({tag:"div"})
						+l-contentsWidth({tag:"div"})
							p.date
								span 2018
							
							h2.title
								span シスメックス50年のあゆみ Webサイト
							
							p.text 「ヘルスケアの進化をデザインする。」兵庫県神戸市に本社を置く医療機器メーカーSysmexの「シスメックス50年のあゆみ」ページを制作しました。デザイン、コーディング、JavaScriptプログラミングを担当させていただきました。

							h3.subTitle
								span 担当業務
							
							p.list Webデザイン / HTML ・ CSS コーディング/  JavaScript（アニメーション）

							p.link
								a(href="https://www.sysmex.co.jp/corporate/info/50yearsofsysmex/index.html" target="_blank")
									span シスメックス50年のあゆみ | 企業情報 | Sysmex

				

	section.c-workDesignSet01
		.componentWrapper
			.block.is-list
				+l-mqWrapper({tag:"div"})
					+l-contentsWidth({tag:"div"})
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sysmex_50_design01.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sysmex_50_design02.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sysmex_50_design03.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sysmex_50_design04.png", alt="")
						ul
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sysmex_50_design05.png", alt="")
							li
								img(src= pageOption.RELATIVE_PATH + "assets/images/contents/sysmex_50_design06.png", alt="")
									